body{
    margin-top:96px;
    background-color: #f5f5f5;
    
    
    
}
.card{
    box-shadow: 0px 2px 2px 0px grey;
}

/*gredient between the navbar and subnav rainbow*/
#grad1 {
    height: 3px;
    background-color:orange; /* For browsers that do not support gradients */
    
  }

